@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    background-color: transparent;
    border: 2px solid black;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 30px 10px;
    cursor: pointer;
    position: relative;
    transition: color 0.4s linear;
}

.btn:hover {
    color: white;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    border-radius: 3px;
    background-color: black;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.8);
    z-index: -1;
}

.btn1::before {
    transform: scaleX(0);
}

.btn1:hover::before {
    transform: scaleX(1);
}

.btn2::before {
    transform: scaleY(0);
}

.btn2:hover::before {
    transform: scaleY(1);
}

.btn3,
.btn4,
.btn5 {
    transition: 0.4s linear;
}

.btn3:hover {
    border: 2px solid transparent;
    box-shadow: 0 0 1px rgb(236, 157, 115),
        0 0 2px rgb(236, 157, 115),
        0 0 4px rgb(236, 157, 115),
        0 0 8px rgb(236, 157, 115),
        0 0 16px rgb(236, 157, 115);
}

.btn4:hover {
    border: 2px solid #ff8400;
    text-shadow: 0 0 1px #ff8400,0 0 2px #ff8400,0 0 4px #ff8400,0 0 8px #ff8400,
    0 0 16px #ff8400;
    box-shadow: 0 0 4px #ff8400,0 0 8px #ff8400;
}

.btn5:hover {
    border: 2px solid white;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0px,rgba(14, 30, 37, 0.32) 0 2px 16px 0px;
}

.btn6 {
    color: white;
}

.btn6::after {
    content: "";
    background-color: #ffe54c;
    width: 101%;
    height: 101%;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: 0.4s linear;
    z-index: -1;
    border-radius: 5px;
}

.btn6:hover::after {
    top: 0;
    left: 0;
}